/* Media queries for extra small devices (phones, 600pc and down): */
@media only screen and (max-width: 600px){

    /* box-sizing element will help us to have more similar width and height size of different elements*/
    * {
        box-sizing: border-box;
    }

    /* Setting font for whole body */
    html {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* column style for whole html*/
    [class*="col-"] {
        float: left;
        padding: 15px;
        width: 100%;
    }

    /* Styling body */
    body {
        /* font-family: Arial, Helvetica, sans-serif; */
        font-size: 12px;
        margin: 0;

        /*
        background-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,0.8711128234863281) 100%); 
        background-image: radial-gradient(circle, rgba(251,63,206,0.5482990892627571) 0%, rgba(74,70,252,0.9413515406162465) 81%, rgba(74,60,223,1) 90%);
        background-color: lightblue;
        background: radial-gradient(circle at left top, rgba(0,2,36,0.749161603974133) 0%, rgba(29,138,82,0.6248209169054442) 65%, rgba(0,212,255,0.4564786771448647) 100%);
        background-repeat: no-repeat;
        */
    }

    /* Styling navigation bar and setting margin and padding of navigation to 0 to change default margin */
    nav{
        text-align: center;
        max-width: 100%;
        margin: 0px;
        padding: 3px;
        background-color: rgba(255, 255, 255, 0.699);
    }

    ul{
        list-style: none;
        margin: 8px;
        padding: 0px;
    }

    ul li{
        display: inline-block;
        padding: 0 20px;
    }

    li a{
        text-decoration: none;
        color: rgb(89, 2, 204);
        text-transform: uppercase;
        font-size: 10px;
        font-weight: lighter;
    }

    li a:hover, a:active {
        color: rgba(170, 13, 202, 0.781);
        font-size: 100%;
    }


    /* Styling header */
    header {
        background-image: url("../images/pawel-czerwinski-OG44d93iNJk-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: block; 
        max-width: 400px;
        min-height: 400px;
        text-shadow: rgb(245, 245, 245) 0 0 0.2em;
        text-align: center;
        padding: 40px; 
        color: rgb(29, 9, 102);
        box-shadow: 0px 0px 10px 1px rgba(133, 4, 255, 0.089);
    }

    header h1 {
        font-size: 3rem;
        padding: 5px;
    }

    header p {
        position: relative;
        font-size: 1.2rem; 
    }


    /*
    .lines {
        color: #59c1fe;
        position: fixed;
        width: 100vw;
        height: 4em;
        background: linear-gradient(rgba(color, 0.2) 20%, color 40%, color 60%, rgba(color, 0.2) 80%);
        background-size: 1px 0.5em;
        box-shadow: 0 0 1em rgba(color, 0.4);
        transform: translateY(-1em);
        left: 0;
      }
    */

    /* 
    I want to show main content in column style but flexbox and CSS grid are not cross-browser compatible. 
    To solve this problem we need to add float as well where these will not work so float will maintain the code.  
    */
    
    .wrapper {
        border: 2px solid #f7079b79;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 30PX;
        gap: 100px;
        justify-content: space-around;
    }

    

    .box{
        display: flex;
        flex-direction: row;
        width: 300px;
        height: 300px;
        border: 1px solid black;
        margin: 10px;
        align-items: center;
        text-align: justify;
        padding: 10px;
        border-radius: 15px;
    }
    .heading{
        text-align: center;
        margin: 40px;
    }



}


/* Media queries for small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Media queries for medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Media queries for large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Media queries for extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* box-sizing element will help us to have more similar width and height size of different elements*/
    * {
        box-sizing: border-box;
    }

    /* Setting font for whole body */
    html {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* column style for whole html*/
    [class*="col-"] {
        float: left;
        padding: 15px;
        width: 100%;
    }

    /* Styling body */
    body {
        /* font-family: Arial, Helvetica, sans-serif; */
        font-size: 12px;
        margin: 0;

        /*
        background-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,0.8711128234863281) 100%); 
        background-image: radial-gradient(circle, rgba(251,63,206,0.5482990892627571) 0%, rgba(74,70,252,0.9413515406162465) 81%, rgba(74,60,223,1) 90%);
        background-color: lightblue;
        background: radial-gradient(circle at left top, rgba(0,2,36,0.749161603974133) 0%, rgba(29,138,82,0.6248209169054442) 65%, rgba(0,212,255,0.4564786771448647) 100%);
        background-repeat: no-repeat;
        */
    }

    /* Styling navigation bar and setting margin and padding of navigation to 0 to change default margin */
    nav{
        text-align: center;
        max-width: 100%;
        margin: 0px;
        padding: 3px;
        background-color: rgba(255, 255, 255, 0.699);
    }

    ul{
        list-style: none;
        margin: 8px;
        padding: 0px;
    }

    ul li{
        display: inline-block;
        padding: 0 20px;
    }

    li a{
        text-decoration: none;
        color: rgb(89, 2, 204);
        text-transform: uppercase;
        font-size: 10px;
        font-weight: lighter;
    }

    li a:hover, a:active {
        color: rgba(170, 13, 202, 0.781);
        font-size: 100%;
    }


    /* Styling header */
    header {
        background-image: url("../images/pawel-czerwinski-OG44d93iNJk-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: block; 
        max-width: 100%;
        min-height: 400px;
        text-shadow: rgb(245, 245, 245) 0 0 0.2em;
        text-align: center;
        padding: 40px; 
        color: rgb(29, 9, 102);
        box-shadow: 0px 0px 10px 1px rgba(133, 4, 255, 0.089);
    }

    header h1 {
        font-size: 3rem;
        padding: 5px;
    }

    header p {
        position: relative;
        font-size: 1.2rem; 
    }


    /*
    .lines {
        color: #59c1fe;
        position: fixed;
        width: 100vw;
        height: 4em;
        background: linear-gradient(rgba(color, 0.2) 20%, color 40%, color 60%, rgba(color, 0.2) 80%);
        background-size: 1px 0.5em;
        box-shadow: 0 0 1em rgba(color, 0.4);
        transform: translateY(-1em);
        left: 0;
      }
    */

    /* 
    I want to show main content in column style but flexbox and CSS grid are not cross-browser compatible. 
    To solve this problem we need to add float as well where these will not work so float will maintain the code.  
    */
    
    .wrapper {
        border: 2px solid #f7079b79;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 30PX;
        gap: 100px;
        justify-content: space-around;
    }

    

    .box{
        display: flex;
        flex-direction: row;
        width: 300px;
        height: 300px;
        border: 1px solid black;
        margin: 10px;
        align-items: center;
        text-align: justify;
        padding: 10px;
        border-radius: 15px;
    }
    .heading{
        text-align: center;
        margin: 40px;
    }



}







