

@media only screen and (max-width: 600px){

    /* Styling Html in general */
    * {
        margin: 0;
        border: 0;
        padding: 0;
        box-sizing: border-box;
    }


    body {
        background-color: rgb(12, 1, 29);
        scroll-behavior: smooth;
        max-width: 100%;
        min-height: 100vh; 
        margin: 0;
        border: 0;
        padding: 0;
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: auto 1fr auto;
    }

    
    /* Navigation bar */
    nav{
        background-color: #000000;
        position: sticky;
        text-align: center;
        max-width: 100%;
        margin: 0;
        padding: 3px;
    }

      /*for screen readers*/
      .visuallyhidden{
        position: absolute; 
        overflow: hidden;
        height: 1px;
        margin: 0; 
        padding: 0; 
        border: 0; 
    }

    .current{
        position: absolute; 
        overflow: hidden;
        color: white;
        height: 1px;
        margin: 0; 
        padding: 0; 
        border: 0;

    }

    .visuallyHidden{
        position: relative; 
        overflow: hidden;
        height: 1px;
        margin: 0; 
        padding: 0; 
        border: 0; 
    }

    ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        column-gap: 5px;
        list-style: none;
        margin: 0;
        padding: 0;
        max-width: 100%;

        /* adding these two lines for internet explorer as flex-justify content does not work*/
        align-items: center;
        justify-content: center;
    }

    li{
        display: flex;
        font-size: calc(0.70em + 1vw);
        font-weight: lighter;
        padding: 5px 10px 5px 10px;
        margin: 0;
    }

    li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;  
    }

    /*bottom border here is for accessibilty*/
    li a:active{
        color: #04010a;
        font-weight: lighter;
        Text-shadow: 0 0 18px white;
        border-bottom: .25em solid #444;
    }

    footer {
        background-color: #000000;
        max-width: 100%;
        min-height:50px; 
        margin-top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 20px 20px 20px 20px;
    }

    footer p {
        color: white;
        font-size:  calc(12px + 1vw);
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 0 auto;
    }
}




@media only screen and (min-width: 600px) and (max-width: 960px) {

    /* Html style in generel */
    *{
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }

    /* Using viewport units for fonts to make text auto resize and stay maximum inside purple background for readability*/
    body{
        scroll-behavior: smooth;
        background-color: rgb(7, 1, 17);
        max-width: 100%;
        margin: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;  
        height: 100vh;
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: auto 1fr auto;
    }
    
    /* Navigation bar */
    nav{
        background-color: #000000;
        position: sticky;
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
        padding: 3px;
}

    /*for screen readers*/
    .visuallyhidden{
        position: absolute; 
        overflow: hidden;
        height: 1px;
        margin: 0; 
        padding: 0; 
        border: 0; 
    }

    .current{
        position: absolute; 
        overflow: hidden;
        color: white;
        height: 1px;
        margin: 0; 
        padding: 0; 
        border: 0;

    }

    .visuallyHidden{
        position: relative; 
        overflow: hidden;
        height: 1px;
        margin: 0; 
        padding: 0; 
        border: 0; 
    }

    ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        column-gap: 10px;
        list-style: none;
        margin: 0;
        padding: 0;
        max-width: 100%;

        /* adding these two lines for internet explorer as flex-justify content does not work*/
        align-items: center;
        justify-content: center;
    }

    li{
        display: flex;
        font-size:calc(0.5rem + 1vw);
        font-weight: lighter;
        padding: 5px 10px 5px 10px;
        margin: 0;
    }

    li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: 5px 10px 5px 10px;
        margin: 0px;  
    }    

    li a:hover{
        background-color: rgba(255, 255, 255, 0.521);
        color: #04010a;
        font-weight: 400;
        box-shadow: 0 0 10px white;
        border-radius: 15px;
        transition: all 0.75s ease;
    }

    /*neon styling*/

    h1 {
        margin-top: 7%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: calc(0.85em + 2vw);
        font-weight: 500;
        border: 0.1rem solid #fff;
        border-radius: 1rem;
        padding: 0.2em;
        text-align: center;

        box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
        
    }

    

    div{
        width: 10px;
        height: 10px;
        margin-left: 0;
        margin-top: 10%;
        background-color: red;
        animation-name: box;
        animation-duration: 8s;
    }

    @keyframes box {
        0%   {background-color: red;}
        25%  {background-color: rgb(179, 179, 17);}
        50%  {background-color: rgb(25, 25, 139);}
        100% {background-color: rgb(27, 114, 27);}
      }      
      
      
    .neonText {
        color: #fff;
        text-shadow:
            0 0 7px rgba(255, 255, 255, 0.74),
            0 0 10px rgba(255, 255, 255, 0.63),
            0 0 21px rgba(255, 255, 255, 0.726);   
    }
  


    footer {
        background-color: #000000;
        position: relative;
        height: 100%;
        max-width: 100%;
        margin-top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 20px 20px 20px 20px;
    }

    footer p {
        color: white;
        font-size:  calc(12px + 1vw);
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 0 auto;
    }
}



@media only screen and (min-width: 960px){

    /* Html style in general*/
    *{
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }

    /* Using viewport units for fonts to make text auto resize and stay maximum inside purple background for readability*/
    body{
        scroll-behavior: smooth;
        font-family: "Arial", Helvetica, sans-serif; /*we can change font styles*/
        font-size: calc(10px + 1vw);
        max-width: 100%;
        min-height: 100vh;
        margin: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;  
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: auto 1fr auto;

    }

    /* Navigation bar */
    nav{
        background-color: #1f0124;
        position: sticky;
        text-align: center;
        width: 100%;
        
        margin: 0 auto;
        padding: 3px;
    }

    /* For screen readers*/
    .visuallyhidden{
        position: absolute; 
        overflow: hidden;
        height: 1px;
        margin: 0; 
        padding: 0; 
        border: 0; 
    }

    
    .current{
        position: absolute; 
        overflow: hidden;
        color: white;
        height: 1px;
        margin: 0; 
        padding: 0; 
        border: 0;

    }

    .visuallyHidden{
        position: relative; 
        overflow: hidden;
        height: 1px;
        margin: 0; 
        padding: 0; 
        border: 0; 
    }

    ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        column-gap: 10px;
        list-style: none;
        /* margin: 20px 0px; */
        margin: 0;
        padding: 0;
        max-width: 100%;

        /* adding these two lines for internet explorer as flex-justify content does not work*/
        align-items: center;
        justify-content: center;
    }

    li{
        display: flex;
        font-size:calc(0.01rem + 1vw);
        font-weight: lighter;
        display: flex;
        padding: 5px 10px 5px 10px;
        margin: 0;
    }

    li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: 5px 10px 5px 10px;
        margin: 0px;  
    }

    li a:hover{
        transition: all 0.75s ease;
        background-color: rgba(255, 255, 255, 0.521);
        color: white;
        font-weight: 400;
        box-shadow: 0 0 10px white;
        border-radius: 15px;
    }

/*
    .lines {
        display: block;
        color: turquoise;
        margin-right: auto; 
        margin-left: auto; 
        overflow: hidden; 
        border-style: inset; 
        border-width: 1px;
        width: 60%;
    }
    
    .neonLines {
        color: #59c1fe;
        position: fixed;
        width: 100vw;
        height: 4em;
        background: linear-gradient(rgba(color, 0.2) 20%, color 40%, color 60%, rgba(color, 0.2) 80%);
        background-size: 1px 0.5em;
        box-shadow: 0 0 1em rgba(color, 0.4);
        transform: translateY(-1em);
        left: 0;
      }*/





    
    footer {
        background-color: #000000;
        position: relative;
        min-height:50px; 
        width: 100%;
        margin-top: auto;
        bottom: 0;
        padding: 20px 20px 20px 20px;
    }

    footer p {
        color: white;
        font-size:  calc(2px + 1vw);
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 0 auto;
    }
}